@charset "UTF-8";
html {
  font-size: 200px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 77px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 87px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 90px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 92px;
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: 96px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 100px;
  }
}

@media screen and (min-width: 424px) {
  html {
    font-size: 102px;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 115px;
  }
}

@media screen and (min-width: 540px) {
  html {
    font-size: 141px;
  }
}

body {
  min-width: 320px;
  background: #f2f2f2;
  font-family: Arial,Helvetica,STHeiTi,sans-serif;
}

#head {
  width: 100%;
  height: .44rem;
  background-color: #ffc001;
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

#head .head-logo {
  width: .46rem;
  height: .44rem;
  position: absolute;
  top: 0;
  padding-left: .12rem;
  padding-top: .05rem;
}

#head .head-logo a {
  display: block;
}

#head .classify {
  left: 0;
}

#head .classify a {
  width: .22rem;
  height: .35rem;
  background: url("../image/fenlei.png") no-repeat;
  background-size: .22rem .35rem;
}

#head .my-cart {
  right: 0;
  padding-left: 0;
  padding-right: .12rem;
}

#head .my-cart a {
  height: 100%;
  background: url("../image/gwc.png") no-repeat;
  background-size: .36rem .34rem;
}

#head .search-bar {
  padding: .07rem .50rem 0 .46rem;
}

#head .search-bar form {
  position: relative;
}

#head .search-bar form::before {
  content: '';
  width: .14rem;
  height: .14rem;
  position: absolute;
  margin: auto;
  top: 0;
  left: .07rem;
  bottom: 0;
  background: url("../image/ss.png") no-repeat;
  background-size: .14rem .14rem;
}

#head .search-bar input {
  outline: none;
  border: none;
  width: 100%;
  height: .3rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);
  padding-left: .29rem;
  padding-right: .1rem;
  box-sizing: border-box;
}

.main-inner {
  position: relative;
  width: 100%;
  top: .44rem;
  left: 0;
}

.swiper-slide a {
  display: block;
}

.swiper-slide a img {
  width: 100%;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  width: 200px;
  position: absolute;
  left: auto;
  right: .1rem;
  bottom: .1rem;
  text-align: right;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: .06rem;
  height: .06rem;
  margin: 0;
  margin-right: .05rem;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #ffc001;
}

.swipe {
  border-bottom: 1px solid #f2f2f2;
}

.swipe a {
  display: block;
}

.swipe a img {
  width: 100%;
}

.floor-area {
  background: #fff;
  text-align: center;
  padding-top: .12rem;
}

.floor-area ul, .floor-area li {
  padding: 0;
  list-style: none;
  margin: 0;
}

.floor-area ul::after {
  content: '';
  display: block;
  clear: both;
}

.floor-area li {
  width: 20%;
  float: left;
  margin-bottom: .05rem;
}

.floor-area li img {
  width: .44rem;
  height: .44rem;
}

.floor-area li .title {
  color: #7b7f82;
  font-size: .13rem;
  line-height: .31rem;
}

.tt {
  padding: .11rem 0;
  height: .57rem;
  background: #fff;
}

.tt .title {
  display: inline-block;
  width: .8rem;
  height: .35rem;
  background: url("../image/tt.png") no-repeat;
  background-size: 100% 100%;
}

.tt .line {
  display: inline-block;
  width: 1px;
  background-color: #dcdcdc;
  height: .22rem;
  margin: .07rem;
}

.tt .msgcon {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: .35rem;
}

.tt .msgcon a {
  width: 2.8rem;
  height: .35rem;
  display: block;
}

.tt .msgcon a span {
  display: block;
  padding-left: .15rem;
  box-sizing: border-box;
  height: .17rem;
  font-size: .14rem;
  position: relative;
  color: #333;
}

.tt .msgcon a span i {
  position: absolute;
  width: .04rem;
  height: .04rem;
  border-radius: 50%;
  background-color: #ffc001;
  margin: auto;
  top: 0;
  bottom: 0;
  left: .05rem;
}

.tt .msgcon a span:nth-child(2) {
  color: #999;
}

/*秒杀*/
.zsq {
  margin-top: .12rem;
  background: #FFF;
}

.zsq .hor-view {
  position: relative;
  height: .44rem;
}

.zsq .hor-view .logo {
  margin-left: .11rem;
  width: .75rem;
  height: .44rem;
  background: url("../image/qg.png") no-repeat center;
  background-size: .75rem .26rem;
  display: inline-block;
  vertical-align: top;
}

.zsq .hor-view .tag {
  margin-left: .11rem;
  height: .44rem;
  line-height: .55rem;
  font-size: .12rem;
  color: #fa4b4b;
  display: inline-block;
  vertical-align: top;
}

.zsq .hor-view .count {
  height: .44rem;
  line-height: .52rem;
  display: inline-block;
}

.zsq .hor-view .count span {
  margin: 0 .05rem;
  width: .15rem;
  height: .15rem;
  border-radius: 3px;
}

.zsq .hor-view .count .hour-node {
  border: 1px solid #333;
}

.zsq .hor-view .count .minute-node {
  border: 1px solid #333;
}

.zsq .hor-view .count .second-node {
  border: 1px solid #FA4B4B;
}

.zsq .hor-view .r {
  display: block;
  position: absolute;
  top: 0;
  right: .11rem;
}

.zsq .hor-view .r span {
  display: block;
  margin-top: .16rem;
  border-radius: .082rem;
  padding: 0 .055rem;
  height: .19rem;
  line-height: .2rem;
  background-color: #ffc001;
  font-size: .12rem;
  color: #783e18;
  float: left;
}

.zsq .hor-view .r i {
  display: block;
  float: left;
  width: .08rem;
  height: .44rem;
  margin-left: .027rem;
  background: url("../image/nex.png") no-repeat center 0.18rem;
  background-size: .08rem .14rem;
}

.app-scroller {
  width: 100%;
  height: 1.43rem;
  overflow: hidden;
  padding: 0 .082rem;
}

.app-scroller .app-scroller-wp {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.app-scroller .app-scroller-wp li {
  display: inline-block;
  margin-left: .027rem;
  margin-right: .027rem;
  border: 1px solid #ddd;
}

.app-scroller .app-scroller-wp li a {
  display: block;
  width: 1.21rem;
  height: 0.91rem;
}

.app-scroller .app-scroller-wp li a img {
  width: 1.21rem;
  height: 0.91rem;
}

.app-scroller .app-scroller-wp li a .prices {
  width: 1.21rem;
  height: .38rem;
  position: relative;
  background-color: #ddd;
}

.app-scroller .app-scroller-wp li a .prices .gb-price {
  display: block;
  margin-left: 0.11rem;
  font-size: .143rem;
  color: #d00;
}

.app-scroller .app-scroller-wp li a .prices .gb-price i {
  font-style: normal;
  font-size: 0.132rem;
}

.app-scroller .app-scroller-wp li a .prices .tag-price {
  display: block;
  margin-left: 0.11rem;
  font-size: 0.12rem;
  color: #999;
  text-decoration: line-through;
}

.app-scroller .app-scroller-wp li a .prices .sale {
  display: block;
  width: .4rem;
  height: .4rem;
  position: absolute;
  top: -.03rem;
  right: .027rem;
  background: url("../image/xiazai.png") no-repeat;
  background-size: 0.39rem 0.41rem;
  padding-left: .05rem;
}

.app-scroller .app-scroller-wp li a .prices .sale i {
  font-style: normal;
  letter-spacing: -.05rem;
  color: #fff;
}

.app-scroller .app-scroller-wp li a .prices .sale .f1 {
  font-size: .16rem;
}

.app-scroller .app-scroller-wp li a .prices .sale .f2 {
  font-size: .12rem;
}

.app-scroller .app-scroller-wp li a .prices .sale .f3 {
  font-size: .132rem;
}

.app-scroller .app-scroller-wp li a .prices .sale .f4 {
  font-size: .12rem;
}

.adapt {
  display: block;
  border-bottom: 1px solid #f2f2f2;
  overflow: hidden;
}

.adapt img {
  width: 100%;
}

.clear-margin {
  margin: 0 -15px;
}

.v5-swipe a, .sm-left a {
  display: block;
}

.v5-swipe a img, .sm-left a img {
  width: 100%;
}

.v5-swipe {
  margin-top: .12rem;
}

.sm-left {
  border-top: 1px solid transparent;
  height: 2.21rem;
  overflow: hidden;
}

.right-inner {
  height: 2.21rem;
  overflow: hidden;
}

.right-inner a {
  display: block;
}

.right-inner a img {
  width: 100%;
}

.right-inner .right-top-banner {
  border: 1px solid transparent;
  border-right: none;
}

.right-inner .right-bottom-banner {
  border-left: 1px solid transparent;
}

/* 超实惠*/
.wapsy {
  margin-top: .12rem;
  border-bottom: 1px solid transparent;
}

.vertical {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #f2f2f2;
  z-index: 2;
}

.sh-inner a {
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}

/* 生活家*/
.shj {
  border-bottom: 1px solid #f2f2f2;
}

/*banner*/
.v5-swipe-banner {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

#v5-banner-pagination {
  bottom: auto;
  top: .1rem;
}

.tshh-container, .rmsc {
  width: 100%;
  float: left;
}

.swiper-inner {
  width: 100%;
  box-sizing: border-box;
  padding: 0 .055rem;
}

.swiper-inner .swiper-col-inner {
  width: 50%;
  box-sizing: border-box;
  padding: 0 .055rem;
  float: left;
}

a .t {
  height: .7rem;
}

a .t img {
  width: .44rem;
  height: .44rem;
  border-radius: 50%;
  float: left;
  margin: .132rem 0;
}

a .t .wrap {
  float: left;
  margin: .132rem 0;
  width: 1.28rem;
}

a .t .wrap span {
  display: block;
  padding-left: .11rem;
  height: .22rem;
  line-height: .22rem;
  font-size: .16rem;
  color: #333;
}

a .t .wrap .des {
  color: #999;
  font-size: .132rem;
}

.swiper-col-inner, .hor-view {
  position: relative;
}

.swiper-col-inner::after, .hor-view::after {
  content: '';
  display: block;
  clear: both;
}

.swiper-col-inner .b1, .hor-view .b1 {
  opacity: .8;
  width: 66.66%;
}

.swiper-col-inner .b1 img, .hor-view .b1 img {
  border: 1px solid #ddd;
  display: block;
  margin: .01rem;
}

.swiper-col-inner .b2, .hor-view .b2 {
  opacity: .8;
  float: right;
  width: 33.33%;
  position: absolute;
  top: 0;
  right: 0;
}

.swiper-col-inner .b2 img, .hor-view .b2 img {
  border: 1px solid #ddd;
  margin: .005rem;
}

#v6-banner-pagination {
  width: 100%;
  height: .33rem;
  text-align: center;
  background-color: #fff;
  position: relative;
  right: auto;
  bottom: 1px;
}

.guessulike {
  float: left;
  width: 100%;
  height: .22rem;
  text-align: center;
  position: relative;
  margin: .138rem 0;
}

.guessulike::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #dcdcdc;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.guessulike .title {
  display: inline-block;
  font-size: .187rem;
  line-height: .281rem;
  color: #353d44;
  background-color: #f2f2f2;
  padding-right: .11rem;
  padding-left: .36rem;
  position: relative;
  z-index: 2;
}

.guessulike .title .cai-icon {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: .11rem;
  display: inline-block;
  width: .22rem;
  height: .22rem;
  border-radius: 50%;
  background: url("../image/xin.png") no-repeat center center;
  background-color: #c4c4c4;
  background-size: .15rem;
}

/* 猜你喜欢*/
.guessulikeCon {
  width: 100%;
  float: left;
  padding: 0 .055rem;
  box-sizing: border-box;
}

.guessulikeCon .pro-list {
  list-style: none;
  padding: 0;
}

.guessulikeCon .pro-list li {
  padding: 0 .055rem;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: .11rem;
  float: left;
}

.guessulikeCon .pro-list li a {
  display: block;
  background: #fff;
}

.guessulikeCon .pro-list li a img {
  width: 100%;
  height: 100%;
}

.guessulikeCon .pro-list li .info-bar {
  padding: .0414rem .0552rem;
  background-color: #fff;
  position: relative;
}

.guessulikeCon .pro-list li .info-bar .pro-title {
  height: .42rem;
  margin-bottom: .04rem;
  overflow: hidden;
}

.guessulikeCon .pro-list li .info-bar .e-price {
  color: #e21d1d;
  font-size: 0.16rem;
  line-height: .19rem;
  display: block;
  padding-bottom: .03rem;
}

.app-down {
  width: 100%;
}

.app-down a {
  display: block;
}

.app-down a img {
  width: 100%;
}

#footer {
  margin-top: .132rem;
  background-color: #fff;
  text-align: center;
}

#footer .wbox {
  padding: 0;
  margin: 0;
  height: .53rem;
  line-height: .53rem;
}

#footer .wbox li {
  list-style: none;
  width: 20%;
  float: left;
  position: relative;
}

#footer .wbox li a {
  display: block;
  font-size: .15rem;
  color: #333;
}

#footer .wbox li span {
  width: 1px;
  height: .15rem;
  position: absolute;
  margin: auto;
  background-color: #ededed;
  top: 0;
  right: 0;
  bottom: 0;
}

#footer .copyright {
  padding: .055rem .16rem .41rem .16rem;
  color: #909090;
}
